@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
/* line 19, ../sass/layout.scss */
body, html {
  background-color: #e2e2e2;
  color: #373737;
  font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.625;
  height: 100% !important;
}
/* line 27, ../sass/layout.scss */
body ul li, html ul li {
  list-style: none;
}

/* line 32, ../sass/layout.scss */
table {
  background: #FFF;
  margin-bottom: 0px;
  border: none;
  width: 100%;
  text-align: left;
}

/* line 40, ../sass/layout.scss */
.row {
  margin-bottom: 1.875em;
}
/* line 42, ../sass/layout.scss */
.row a {
  color: #82bd1a;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 50, ../sass/layout.scss */
.row a:hover {
  color: #373737;
}

/* line 57, ../sass/layout.scss */
#Comments .row .authorName {
  font-size: 0.6875em;
}
/* line 60, ../sass/layout.scss */
#Comments .row .large-8 {
  background: #F6F6F6;
}
/* line 63, ../sass/layout.scss */
#Comments .row .large-8:before {
  content: url(../images/comment-arrow.png);
  left: -21px;
  position: absolute;
}

/* line 72, ../sass/layout.scss */
#Sidebar .WidgetHolder {
  margin-top: -20px;
}

/* line 78, ../sass/layout.scss */
#BlogSummary .postTitle {
  font-size: 30px;
}
/* line 81, ../sass/layout.scss */
#BlogSummary .authorDate {
  font-size: 0.6875em;
}
/* line 84, ../sass/layout.scss */
#BlogSummary .tags {
  font-size: 0.6875em;
}
/* line 87, ../sass/layout.scss */
#BlogSummary .arrowThing:before {
  content: "/";
}
/* line 91, ../sass/layout.scss */
#BlogSummary .blogDate {
  width: 80px;
  float: left;
  color: #8D8D8D;
}
/* line 96, ../sass/layout.scss */
#BlogSummary li {
  padding-bottom: 15px;
}

/* line 102, ../sass/layout.scss */
#Page .large-8 {
  padding: 15px;
  background-color: #ffffff;
  min-height: 50%;
}
/* line 107, ../sass/layout.scss */
#Page .large-4 {
  padding: 0px;
  text-align: right;
  color: #373737;
  background-color: #e2e2e2;
  border: none;
  margin: 0px;
  padding: 0px;
  text-align: right;
}
/* line 116, ../sass/layout.scss */
#Page .large-4 h1 {
  margin-top: -21px;
}
/* line 119, ../sass/layout.scss */
#Page .large-4 a {
  color: #373737;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 127, ../sass/layout.scss */
#Page .large-4 a:hover {
  color: #82bd1a;
}
/* line 130, ../sass/layout.scss */
#Page .large-4 ul li {
  text-align: right;
}
/* line 135, ../sass/layout.scss */
#Page h1 {
  color: #373737;
  font-family: 'Roboto', sans-serif;
  font-size: 3.6em;
  font-weight: 100;
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
}
/* line 138, ../sass/layout.scss */
#Page h3 {
  color: #373737;
  font-family: 'Roboto', sans-serif;
  font-size: 3.6em;
  font-weight: 100;
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
}

/* line 144, ../sass/layout.scss */
#Breadcrumbs .row {
  border: none;
  padding: 0px;
}
/* line 147, ../sass/layout.scss */
#Breadcrumbs .row .large-8 {
  background: #f6f6f6;
  padding: 0px;
}
/* line 150, ../sass/layout.scss */
#Breadcrumbs .row .large-8 ul, #Breadcrumbs .row .large-8 ol, #Breadcrumbs .row .large-8 dl {
  margin: 0px;
}
/* line 156, ../sass/layout.scss */
#Breadcrumbs .breadcrumbs {
  border: none;
}
/* line 158, ../sass/layout.scss */
#Breadcrumbs .breadcrumbs a {
  color: #82bd1a;
  text-transform: capitalize;
}
/* line 162, ../sass/layout.scss */
#Breadcrumbs .breadcrumbs .current {
  text-transform: capitalize;
}

/* line 168, ../sass/layout.scss */
#Footer, .push {
  height: 60px;
  background-color: white;
}
/* line 171, ../sass/layout.scss */
#Footer .row, .push .row {
  margin-top: 0px;
  font-size: 0.6875em;
  padding-top: 25px;
}
/* line 175, ../sass/layout.scss */
#Footer .row a, .push .row a {
  color: #82bd1a;
  text-align: center;
}
/* line 179, ../sass/layout.scss */
#Footer .row ul li, .push .row ul li {
  display: inline;
  list-style-type: none;
}

/* line 186, ../sass/layout.scss */
.push {
  background-color: #e2e2e2;
}

/* line 190, ../sass/layout.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  /* the bottom margin is the negative value of the footer's height */
}

/* line 197, ../sass/layout.scss */
#Form_CommentsForm_action_doPostComment {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #2BA6CB;
  border-color: #2284A1;
  color: #FFF;
}
